<!doctype html>
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>sthiele</title>
<link href="css/bootstrap.css" rel="stylesheet">
<style type="text/css">
body {
padding-top: 40px;
padding-bottom: 40px;
padding-left: 40px;
padding-right: 40px;
}
.container {
margin-right: auto;
margin-left: auto;
max-width: 900px; /* or 950px */
}
.bs-docs-header {
font-size: 24px;
padding-bottom: 20px;
padding-top: 20px;
text-align: left;
background-color: #76e076;
/* background-image: linear-gradient(to bottom, #563D7C 0px, #6F5499 100%); */
/* background-repeat: repeat-x; */
color: #FFFFFF;
}
</style>
</head>

    <div class="bs-docs-header" id="content">
    <div class="container">
     <h1>Hasple</h1>
     <p>An experimental Answer Set solver in Hsakell.</p>
    </div>
    </div>
    
  <body>
    <div class="container">
  

     {{content}}

      <footer>
        <p>This project is maintained by <a href="https://github.com/sthiele">sthiele</a></p>
      </footer>
    </div>
    <script src="javascripts/scale.fix.js"></script>
    
  </body>
</html>
